### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
package-lock.json

# dotenv environment variables file
.env

# prepros config file
prepros-6.config

### VisualStudioCode ###
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Public Directory ###
# Temporary until final configurations set
public/
