{{#footer-style}}
<div class="footer-container {{{shade}}}">
    <div class="footer-grid">
        <div class="footer-col">
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">ADDRESS</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li>
                    <a href="#" class="social-icon {{{shape}}}-{{{color}}}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-icon {{{shape}}}-{{{color}}}">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="social-icon {{{shape}}}-{{{color}}}">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-col">
            <ul>
                <li><a href="#">PRIVACY POLICY</a></li>
                <li><a href="#">TERMS &amp; CONDITIONS</a></li>
                <li><a href="#">LEGAL</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-grid">
        <div class="footer-col">
            <h2>Contact us to learn more</h2>
            <a href="#" class="btn btn-{{{color}}}">YWCA</a>
        </div>
    </div>
</div>
{{/footer-style}}