<{{{tag}}}>{{{tag}}} tag<{{{tag}}}/>
<{{{tag}}} class="light" style="text-transform:capitalize;">
capitalize: the quick brown fox jumps over the lazy dog
<{{{tag}}}/>
<{{{tag}}} class="light" style="text-transform:uppercase;">
uppercase: the quick brown fox jumps over the lazy dog
<{{{tag}}}/>
<{{{tag}}} class="light">
lowercase: the quick brown fox jumps over the lazy dog
<{{{tag}}}/>
