<{{{tag}}}>{{{tag}}} tag<{{{tag}}}/>
<{{{tag}}} style="text-transform:capitalize;">
capitalize: the quick brown fox jumps over the lazy dog
<{{{tag}}}/>
<{{{tag}}} style="text-transform:uppercase;">
uppercase: the quick brown fox jumps over the lazy dog
<{{{tag}}}/>
<{{{tag}}}>
lowercase: the quick brown fox jumps over the lazy dog
<{{{tag}}}/>
