<div class="jumbotron">
    <h1 class="light">ywca is on a mission:</h1>
    <h2 class="light">eliminating racism.</h2>
    <h2 class="light">empowering women.</h2>
    <a href="#" class="btn btn-light">Learn More</a>
</div>