/* Primaries */
$primaryOrange: #fa4616;
$secondaryOrange: #d83105;

/* Shades */

// Whites
$lightWhite: #f3f3f3;
$mediumWhite: #eeeeee;
$darkWhite: #d9d9d9;

// Light Greys
$lightGrey: #bbbbbb;
$lightMediumGrey: #a2a2a2;
$lightDarkGrey: #8b8b8b;

// Medium Greys
$mediumLightGrey: #666666;
$mediumGrey: #5e5e5e;
$mediumDarkGrey: #494949;

// Dark Greys
$darkGrey: #303030;

/* Opacities */
$whiteOpacity: rgba(255,255,255,0.85);
$mediumWhiteOpacity: rgba(238,238,238,0.7);
$mediumDarkGreyOpacity: rgba(73, 73, 73, 0.85);
$blackOpacity: rgba(22,22,22,0.5);
