/* Heading-HQ */

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: $darkGrey;
}

h1 {
    text-transform: uppercase;
    font-size: 36px;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

/* Text-HQ */
p,
input {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    color: $darkGrey;
    font-size: 16px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

label {
    font-size: 16px;
    display: block;
}
