<div id="color-chips">
{{#colors}}
    <div class="color-chip">
        <div class="color" style="background:{{{hex-code}}}"></div>
        <!-- Commented Out Sass Variables -->
        <!-- <h2>Sass Variable:</h2> <h3>{{{sass-variable}}}</h3> -->
        <h3>Hex Code:</h3>
        <h3 style="color:{{{hex-code}}}">{{{hex-code}}}</h3>
    </div>
{{/colors}}
</div>