<!-- For more info, look at https://fontawesome.com/icons?d=gallery&m=free -->
{{#icons}}
<a href="#" class="social-icon round-{{{class}}}">
  <i class="fab fa-{{{icon}}}"></i>
</a>
<a href="#" class="social-icon square-{{{class}}}">
  <i class="fab fa-{{{icon}}}"></i>
</a>
{{/icons}}
