<div id="slanted-header">
  <input type="checkbox" autocomplete="off">
  <div class="logo-box">
    <a href="#"><img src="https://www.ywca.org/wp-content/uploads/logo.png"></a>
  </div>
  <div class="logo-box logo-box-white">
    <a href="#"><img src="https://www.ywca.org/wp-content/uploads/logo.png"></a>
  </div>
  <div class="mobile-line"></div>
  <div class="menu-box">
  </div>
  <div class="ham-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="ham-menu-text">MENU</div>
  <div class="menu-options-wrapper">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>
