// Pattern Lab Configuration
// Exports to /public/styleguide/css/overwrite.css
// Comment Out When Ready for Prod.
#color-chips {
    text-align: center;
    display: inline;

    .color-chip {
        display: inline-block;
        max-width: 500px;
        margin: 24px;

        .color {
            padding: 50px 0px;
        }

        h1 {
            margin-top: 0px;
        }
    }
}

label {
    text-transform: uppercase;
}

body.pl-c-body.pl-c-body--theme-density-cozy {
    background: #000 !important;

    .pl-c-viewport {
        .pl-c-viewport__iframe {
            background: #000 !important;
        }
        position: absolute !important;
    }

}